body,
html,
button,
input {
  font-family: Inter, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}
.container {
  max-width: 1200px;
  margin: auto;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.file-input-container {
  position: relative;
  margin-bottom: 20px;
}

.file-input {
  display: none !important;
  opacity: 0;
  transform: scale(0);
  height: 0;
}

.file-input-label {
  display: inline-block;
  padding: 10px 15px;
  background-color: #f63e3e;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.file-input-label:hover {
  background-color: #f63e3e;
}

.file-input-label::before {
  content: 'Выбрать файл';
}

/* Удаление контента в случае, если файл выбран */
.file-input:not(:focus) + .file-input-label::before {
  content: '';
}

.ant-radio-group {
  width: 100%;
  & > * {
    display: inline-block;
  }
}










h2 {
  text-align: center;
}

.date-options {
  display: flex;
  flex-wrap: wrap;
  label {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
}

.date-option {
  margin-right: 5px;
}

input[type="radio"] {
  display: none !important;
  height: 0;
  opacity: 0;
}



input[type="radio"]:checked + label {
  background-color: #f63e3e;
  color: #fff;
}

.selected-date {
  margin-top: 20px;
  text-align: center;
}
.Form__Item {
  margin-top: 30px;
  margin-bottom: 15px;
  div:first-child {
    font-size: 18px;
  }
}
